@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-body bg-gradient ml-0 py-3">
        <!--
        card-header: Diese Klasse stammt aus dem Bootstrap-Framework und definiert den Header-Bereich einer Karte (card). Sie sorgt dafür, dass der Inhalt innerhalb des Headers korrekt gestylt und positioniert wird.
        bg-body: Diese Bootstrap-Klasse setzt die Hintergrundfarbe des Elements auf die Standardfarbe des Body-Elements, um ein einheitliches Farbschema zu gewährleisten.
        bg-gradient: Diese Klasse aktiviert einen Hintergrundfarbverlauf (Gradient) für das Element.
        ml-0: Diese Bootstrap-Klasse bedeutet "margin-left: 0;" und entfernt jeglichen linken Außenabstand (Margin) von diesem Element.
        py-3: Diese Klasse steht für "padding-y: 1rem;" und fügt dem Element vertikal (oben und unten) eine Polsterung (Padding) von 1 Rem hinzu, um einen gleichmäßigen Abstand oben und unten zu gewährleisten.
        -->
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
                <!--
                text-white: Diese Bootstrap-Klasse setzt die Textfarbe auf Weiß.
                py-2: Diese Klasse fügt dem Element vertikal (oben und unten) eine Polsterung (Padding) von 0.5 Rem hinzu.
                -->
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <!--
        card-body: Diese Klasse definiert den Hauptinhalt einer Karte und sorgt dafür, dass der Inhalt korrekt gestylt und positioniert wird.
        p-4: Diese Bootstrap-Klasse fügt dem Element rundherum (alle Seiten) eine Polsterung (Padding) von 1.5 Rem hinzu.
        -->
        <form method="post" class="row">
            <div class="border p-3">
                <!--
                border: Diese Klasse fügt dem Element eine Randlinie hinzu.
                p-3: Diese Bootstrap-Klasse fügt dem Element rundherum (alle Seiten) eine Polsterung (Padding) von 1 Rem hinzu.
                -->
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control bg-body border-0 shadow" />
                    <!--
                    form-control: Diese Bootstrap-Klasse sorgt dafür, dass das Eingabefeld korrekt gestylt wird.
                    bg-body: Diese Klasse setzt die Hintergrundfarbe des Eingabefelds auf die Standardfarbe des Body-Elements.
                    border-0: Diese Klasse entfernt jegliche Randlinien vom Eingabefeld.
                    shadow: Diese Klasse fügt dem Eingabefeld einen Schatten hinzu.
                    -->
                    <label asp-for="Name" class="ms-2 text-info"></label>
                    <!--
                    ms-2: Diese Bootstrap-Klasse fügt dem Element auf der linken Seite einen Außenabstand (Margin) von 0.5 Rem hinzu.
                    text-info: Diese Klasse setzt die Textfarbe auf eine informative Farbe (in der Regel ein Blauton).
                    -->
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <!--
                    text-danger: Diese Klasse setzt die Textfarbe auf Rot, um Fehler hervorzuheben.
                    -->
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder" class="form-control bg-body border-0 shadow" />
                    <label asp-for="DisplayOrder" class="ms-2 text-info"></label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                        <!--
                        btn btn-primary: Diese Klassen sorgen dafür, dass der Button die Primärfarbe (in der Regel Blau) hat und korrekt gestylt wird.
                        form-control: Diese Klasse sorgt dafür, dass der Button die volle Breite seines Containers einnimmt.
                        -->
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                        <!--
                        btn btn-outline-primary: Diese Klassen sorgen dafür, dass der Button eine Umrissvariante der Primärfarbe hat.
                        form-control: Diese Klasse sorgt dafür, dass der Button die volle Breite seines Containers einnimmt.
                        -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <!--
    _ValidationScriptsPartial: Dieses Partial-View bindet die erforderlichen JavaScript-Dateien für die Validierung ein.
    -->
}